.main-chat
  .main-chat__header
    .main-chat__header__left-box
      .main-chat__header__left-box__current-group
        = @group.name
      .main-chat__header__left-box__member-list
        Member : 
        - @group.users.each do |user|
          = user.name
    = link_to "edit", class:"Edit" do
      .main-chat__header__right-box
        Edit
  

  .main-chat__contents
    = render @messages

  .footer
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'footer__message', placeholder: 'type a message'
      .footer__message__input-box
        = f.label :image, class: 'footer__message__input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit-btn'