.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__username
        = current_user.name
      .side-bar__header__box__menu
        .side-bar__header__box__menu__left
          = link_to new_group_path do
            = icon('fas', 'edit')
        .side-bar__header__box__menu__right
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .side-bar__contents
    - current_user.groups.each do |group|
      .side-bar__contents__box
        .side-bar__contents__box__title
          = link_to "#", class:"text" do
            = group.name
        .side-bar__contents__box__message
          = link_to "#", class:"text" do
            まだメッセージがありません。